html,body{
	width: 100%;
	height: 100%;
}
.mar-r{
	margin-right: 16px;
}
.wrapper{
	width: 100%;
	min-width: 1200px;
	min-height: 100%;
	padding-bottom: 120px;
	box-sizing: border-box;
	position: relative;
}
.wrapper .bg1{
	z-index: -1;
	position: absolute;
	right: 0;
	top: 0;
}
.wrapper .bg2{
	z-index: -1;
	position: absolute;
	left: 0;
	bottom: 120px;
}
.section{
	/*background: url("../img/pagebg.png") no-repeat center center;
	background-size: cover;*/
}
.section .content{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.content .top{
	width: 100%;
	height: 80px;
}
.content .top .logo{
	height: 42px;
	margin-top: 19px;
	cursor: pointer;
}
.content .top ul{
	height: 80px;
	overflow: hidden;
	float: right;
	line-height: 80px;
	font-size: 12px;
}
.content .top ul li{
	padding: 0 12px;
	height: 100%;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	float: left;
	border-radius: 0 0 5px 5px;
	
	/*-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;*/
}
.content .top ul li.active{
	background: #ff9e52;
}
.content .top ul li a{
	color: #b6b6b6;
	display: inline-block;
}
.content .top ul li.active a{
	color: #ffffff;
}
.middle{
	width: 100%;
	padding-left: 10px;
	box-sizing: border-box;
	margin-top: 10px;
}
.middle .cooperation h2{
	font-size: 16px;
	color: #666666;
	margin-bottom: 20px;
}
.middle .cooperation div{
	display: inline-block;
	font-size: 14px;
	color: #b6b6b6;
	line-height: 28px;
}
.middle .cooperation .connect-details{
	width: 44%;
}
.content .bottom{
	margin-top: 60px;
	width: 100%;
}
.content .bottom h2{
	padding-left: 10px;
	font-size: 16px;
	color: #666666;
	margin-bottom: 50px;
}
.content .bottom .patner{
	width: 100%;
}

.content .bottom .patner img{
	width: 166px;
}
/*中部样式*/
.middle h5{
	text-align: center;
	font-size: 32px;
	font-family: PingFang-SC-Regular;
	color: #333333;
	margin-bottom: 20px;
}
.middle p{
	font-size: 16px;
	font-family: PingFang SC;
	color: #333333;
	line-height: 50px;
}
.middle p a{
	color: #333333;
	font-size: 16px;
	margin-right: 35px;
}

/*尾部样式*/
.footer{
	width: 100%;
	min-width: 1200px;
	height: 120px;
	padding-top: 40px;
	box-sizing: border-box;
	line-height: 20px;
	text-align: center;
	background: #10111a;
	font-size: 12px;
	color: #727273;
	position: absolute;
	bottom: 0;
	left: 0;
}
.middle>div{
	font-family: PingFang SC;
	font-size: 15px;
	font-weight: 600;
	margin-top: 10px;
}
.giftTab{
	margin-top: 6px;
	margin-bottom: 20px;
}
.giftTab td{
	width: 200px;
	font-size: 15px;
	line-height: 25px;
	color: #333333;
}
.giftTab tr td:nth-of-type(2){
	width: 200px;
	text-align: center;
	box-sizing: border-box;
	padding-right: 125px;
}

